<div class="portfolio-wrapper">

  <h2>Portfolio</h2>

  <div>
    <h3>trhb.ltd - 2017</h3>

    <ul>
      <h4>technologies</h4>
      <li>Angular 2.4</li>
      <li>TypeScript</li>
      <li>CSS3</li>
    </ul>
  </div>
  <div>
    <h3>youmeandbeauty.co.uk - 2017</h3>

    <ul>
      <h4>technologies</h4>
      <li>Angular 2.4</li>
      <li>TypeScript</li>
      <li>CSS3</li>
    </ul>
  </div>

  <div>
    <h3>justkaren.co.uk - 2015 (due to be refreshed)</h3>

    <ul>
      <h4>technologies</h4>
      <li>Angular ?.?</li>
      <li>CSS?</li>
    </ul>

  </div>
</div>
